name: build java Application 1
on:
 workflow_dispatch:
 push:
    branches:
      - main
jobs:
 builddeployjob:
  runs-on: ubuntu-latest
  steps:
   - name: Checkout code
     uses: actions/checkout@v4
   - name: Install Java and Maven
     uses: actions/setup-java@v4
     with:
      java-version: '17'
      distribution: 'temurin'
      cache: maven
   - name: Install docker
     uses: docker/setup-buildx-action@v3
   - name: build the code
     run: mvn package
   - name: Log in to Docker Hub
     run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
   - name: Build dockerfile and push Image
     uses: docker/build-push-action@v6
     with:
      context: .    # path where dockerfile is- which is curent directory
      tags: ravikadapa/githubactions_dockerhub  # name of the image
      push: true

