name: build java Application 1
on:
 workflow_dispatch:
 push:
    branches:
      - main
jobs:
 builddeployjob:
  runs-on: ubuntu-latest
  steps:
   - name: clone the repo
     uses: actions/checkout@v6
   - name: Install Java on runner
     uses: actions/setup-java@v5
     with:
      java-version: '17'
      distribution: 'temurin'
   - name: build the code
     run: mvn package
   - name: Set up Docker
     uses: docker/setup-docker-action@v4
   - name: Login to Docker Hub
     uses: docker/login-action@v3
     with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
   - name: Build and push
     uses: docker/build-push-action@v6
     with:
      context: .
      push: true
      tags: ravikadapa/githubactions_dockerhub
